.container {
  display: flex;
  width: 100vw;
  height: 100dvh;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 999;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form {
  margin: auto;
  max-width: 600px;
}
