.container {
  display: flex;
}

.side-wrapper {
  min-height: 100vh;
  transition: width 1s;
  background-color: #2c2c2c;
  &.hide {
    transition: width 1s;
    width: 80px;
  }
}

.nav {
  display: flex;
  justify-content: flex-end;
  margin: 10px;
}

.main-wrapper {
  width: 100%;
}

@import "../Environment/Environment.scss";

@include mobile {
  .side-wrapper {
    width: 200px;
    &.hide {
      transition: none;
      width: 80px;
    }
  }
}

@include tablet {
  .side-wrapper {
    width: 200px;
    &.hide {
      transition: none;
      width: 80px;
    }
  }
}

@include desktop {
  .side-wrapper {
    width: 300px;
    &.hide {
      transition: width 1s;
      width: 80px;
    }
  }
}

//TODO 반응형
