.container {
  color: white;
  background: #252525;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 100%;

  .title-wrapper {
    display: flex;
    align-items: center;
    margin-left: 50px;

    .title {
      font-size: 1.5rem;
      margin-right: 10px;
    }

    .favorite-img {
      margin-right: 10px;
    }
  }
}
