.container {
  color: white;
  background: #252525;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  height: 100%;

  .title-wrapper {
    display: flex;
    align-items: center;
    margin-left: 50px;

    .title {
      font-size: 1.5rem;
      margin-right: 10px;
    }

    .favorite-img {
      margin-right: 10px;
    }
  }
}

.side-wrapper {
  position: absolute;
  display: none;
  min-height: 100vh;
  transition: width 1s;
  z-index: 1000;
  background-color: #2c2c2c;
}

.menu-button {
  position: fixed;
  z-index: 1100;
  width: 100px;
  top: 20px;
  left: 30px;
}
