@import "../../Environment/Environment.scss";

.container {
  min-width: 200px;
  max-width: 200px;
  height: 100%;
}

.member-card {
  padding: 0px 0px 0px 10px;
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  height: 45px;

  .member-image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100%;
  }

  .connect-status {
    position: absolute;
    border-radius: 100%;
    border: 1px solid rgba(50, 60, 50, 0.231);
    left: 30px;
    top: 30px;
    width: 10px;
    height: 10px;
    background-color: rgb(0, 0, 0);
    z-index: 99;

    &.offline {
      background-color: rgb(0, 0, 0);
    }
    &.online {
      background-color: rgb(0, 255, 0);
    }
  }

  .member-name {
    margin-left: 10px;
    font-weight: 400;
    color: whitesmoke;
  }
}
