.container {
  font-family: var(--font-sc-dream6);
  // background: url("../../public/background/homepage-background.png");
  background: rgb(2, 0, 36);
  background: linear-gradient(
    45deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(43, 69, 96, 1) 30%,
    rgba(47, 120, 153, 1) 58%,
    rgba(28, 148, 190, 1) 83%,
    rgba(0, 212, 255, 1) 100%
  );

  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.title-wrapper {
  width: 400px;
  height: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;

  img {
    margin: auto;
  }
}

.header {
  width: 100vw;
  height: 80px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.19);
  color: rgb(255, 255, 255);
  text-shadow: 2px 1px 2px black;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 70px;
  text-shadow: 5px 1px 5px rgb(0, 0, 0);
}
