.container {
  font-family: var(--font-sc-dream6);
  background: url("../../public/background/homepage-background.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.title-wrapper {
  position: absolute;
  top: 200px;
  left: 400px;
}

.header {
  width: 100vw;
  height: 80px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(121, 121, 121, 0.5);
  color: rgb(255, 255, 255);
  text-shadow: 2px 1px 2px black;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 70px;
  text-shadow: 5px 1px 5px rgb(0, 0, 0);
}
