.container {
  font-family: var(--font-sc-dream6);
  // background: url("../../public/background/homepage-background.png");
  background: #6190e8; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #a7bfe8, #6190e8); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #a7bfe8, #6190e8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.title-wrapper {
  position: absolute;
  top: 200px;
  left: 400px;
}

.header {
  width: 100vw;
  height: 80px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(179, 198, 252);
  color: rgb(255, 255, 255);
  text-shadow: 2px 1px 2px black;
}

.title {
  color: rgb(255, 255, 255);
  font-size: 70px;
  text-shadow: 5px 1px 5px rgb(0, 0, 0);
}
