.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.nickname {
  margin: 20px;
}

@import "./Environment/Environment.scss";

@include mobile {
  .container {
    justify-content: end;
  }
}

@include tablet {
  .container {
    justify-content: end;
  }
}

@include desktop {
  .container {
    justify-content: end;
  }
}
