.title-container {
  width: 150px;
  padding: 10px;
  * {
    display: inline;
  }
}

.room-container {
  margin: 3px 10px 10px 10px;
  display: flex;
  flex-direction: column;

  .room-name {
    cursor: pointer;
  }
}
