.title-container {
  padding: 10px;
  display: flex;
  align-items: baseline;
}

.room-container {
  margin: 3px 10px 10px 10px;
  display: flex;
  flex-direction: column;

  .room-name {
    cursor: pointer;
  }
}
